{% extends 'base.html' %}


{% block header %}
<h1>{% block title %}Our d*ck picks{% endblock %}</h1>
{% endblock %}


{% block content %}
{{ pagination.info }}
{{ pagination.links }}
<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Pic</th>
    </tr>
  </thead>
  <tbody>
    {% for image_name in images %}
      <tr>
        <td>{{ loop.index + pagination.skip }}</td>
        <td>
          {%- set pic_url = url_for('static', filename='photos_uploaded/' + image_name) -%}
          <a href="{{ pic_url }}">
            <img width="240" src="{{ image_name | thumbnail('240x180') }}">
            {{ image_name.replace('.jpg', '') }}
          </a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{{ pagination.links }}


{% endblock %}
